.card-border-top-facebook {
  border-top: 5px solid #3b5998 !important;
}

.card-border-top-twitter {
  border-top: 5px solid #1da1f2 !important;
}

.card-border-top-instagram {
  border-top: 5px solid #e1306c !important;
}

.card-border-top-youtube {
  border-top: 5px solid #ff0000 !important;
}

.more-followers {
  font-size: 0.8rem;
  font-weight: 700;
  color: green;
}

.less-followers {
  font-size: 0.8rem;
  font-weight: 700;
  color: red;
}

.followers-text {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 3px;
}
