<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10 col-md-9 col-7 mt-2">
      <h2 class="fs-2">Social Media Dashboard</h2>
      <span>Total de seguidores: 23,004</span>
    </div>
    <div
      class="col-lg-2 col-md-3 col-5 mt-2 row d-flex justify-content-center align-items-center"
    >
      <div class="form-check form-switch">
        <input
          (click)="toggleDarkMode()"
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          [checked]="activeDarkMode"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Dark mode</label
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
