<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10 col-md-9 col-7 mt-2">
      <h2 class="fs-2">Social Media Dashboard</h2>
      <span>Total de seguidores: {{ totalGolbalFollowers | number }}</span>
    </div>
    <div
      class="col-lg-2 col-md-3 col-5 mt-2 row d-flex justify-content-center align-items-center"
    >
      <div class="form-check form-switch">
        <input
          (click)="toggleDarkMode()"
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          [checked]="activeDarkMode"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Dark mode</label
        >
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="socialMediaData.top_data">
    <div class="col col-lg-3 mt-3">
      <app-card-social-media
        [username]="socialMediaData.top_data.facebook.username"
        [cardBorderTop]="socialRedBorderTop.Facebook"
        [fontAwesomeIcon]="socialRedIcon.Facebook"
        [totalFollowers]="socialMediaData.top_data.facebook.total_followers"
        [newFollowers]="socialMediaData.top_data.facebook.new_followers"
      >
      </app-card-social-media>
    </div>
    <div class="col col-lg-3 mt-3">
      <app-card-social-media
        [username]="socialMediaData.top_data.instagram.username"
        [cardBorderTop]="socialRedBorderTop.Instagram"
        [fontAwesomeIcon]="socialRedIcon.Instagram"
        [totalFollowers]="socialMediaData.top_data.instagram.total_followers"
        [newFollowers]="socialMediaData.top_data.instagram.new_followers"
      ></app-card-social-media>
    </div>
    <div class="col col-lg-3 mt-3">
      <app-card-social-media
        [username]="socialMediaData.top_data.twitter.username"
        [cardBorderTop]="socialRedBorderTop.Twitter"
        [fontAwesomeIcon]="socialRedIcon.Twitter"
        [totalFollowers]="socialMediaData.top_data.twitter.total_followers"
        [newFollowers]="socialMediaData.top_data.twitter.new_followers"
      ></app-card-social-media>
    </div>
    <div class="col col-lg-3 mt-3">
      <app-card-social-media
        [username]="socialMediaData.top_data.youtube.username"
        [cardBorderTop]="socialRedBorderTop.Youtube"
        [fontAwesomeIcon]="socialRedIcon.Youtube"
        [totalFollowers]="socialMediaData.top_data.youtube.total_followers"
        [newFollowers]="socialMediaData.top_data.youtube.new_followers"
      ></app-card-social-media>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-lg-10 col-md-9 col-10 mt-2">
      <h2 class="fs-3">Overview - Today</h2>
    </div>
    <div
      class="col-lg-2 col-md-3 col-2 mt-2 row d-flex justify-content-center align-items-center"
    ></div>
  </div>
  <div class="row mt-2">
    <div class="col col-lg-3 mt-2">
      <app-card-likes
        [title]="'Page Views'"
        [fontAwesomeIcon]="socialRedIcon.Facebook"
        [total]="
          socialMediaData.overview_today.facebook.page_viewers
            .total_page_viewers
        "
        [counter]="
          socialMediaData.overview_today.facebook.page_viewers.new_page_viewers
        "
      ></app-card-likes>
    </div>
    <div class="col col-lg-3 mt-2">
      <app-card-likes
        [title]="'Likes'"
        [fontAwesomeIcon]="socialRedIcon.Facebook"
        [total]="socialMediaData.overview_today.facebook.likes.total_likes"
        [counter]="socialMediaData.overview_today.facebook.likes.new_likes"
      ></app-card-likes>
    </div>
    <div class="col col-lg-3 mt-2">
      <app-card-likes
        [title]="'Likes'"
        [fontAwesomeIcon]="socialRedIcon.Instagram"
        [total]="socialMediaData.overview_today.instagram.likes.total_likes"
        [counter]="socialMediaData.overview_today.instagram.likes.new_likes"
      ></app-card-likes>
    </div>
    <div class="col col-lg-3 mt-2">
      <app-card-likes
        [title]="'Page Views'"
        [fontAwesomeIcon]="socialRedIcon.Instagram"
        [total]="socialMediaData.overview_today.instagram.page_viewers.total_page_viewers"
        [counter]="socialMediaData.overview_today.instagram.page_viewers.new_page_viewers"
      ></app-card-likes>
    </div>
    <div class="col col-lg-3 mt-2">
      <app-card-likes
        [title]="'Retweets'"
        [fontAwesomeIcon]="socialRedIcon.Twitter"
        [total]="
          socialMediaData.overview_today.twitter.page_viewers.total_page_viewers
        "
        [counter]="
          socialMediaData.overview_today.twitter.page_viewers.new_page_viewers
        "
      ></app-card-likes>
    </div>
    <div class="col col-lg-3 mt-2">
      <app-card-likes
        [title]="'Likes'"
        [fontAwesomeIcon]="socialRedIcon.Twitter"
        [total]="socialMediaData.overview_today.twitter.likes.total_likes"
        [counter]="socialMediaData.overview_today.twitter.likes.new_likes"
      ></app-card-likes>
    </div>
    <div class="col col-lg-3 mt-2">
      <app-card-likes
        [title]="'Likes'"
        [fontAwesomeIcon]="socialRedIcon.Youtube"
        [total]="socialMediaData.overview_today.youtube.likes.total_likes"
        [counter]="socialMediaData.overview_today.youtube.likes.new_likes"
      ></app-card-likes>
    </div>
    <div class="col col-lg-3 mt-2">
      <app-card-likes
        [title]="'Total Views'"
        [fontAwesomeIcon]="socialRedIcon.Youtube"
        [total]="
          socialMediaData.overview_today.youtube.page_viewers.total_page_viewers
        "
        [counter]="
          socialMediaData.overview_today.youtube.page_viewers.new_page_viewers
        "
      ></app-card-likes>
    </div>
  </div>
</div>
